<div class="portfolio py-5" id="Portfolio">
  <h2 class="main-heading mt-5 mb-5">Portfolio</h2>
  <div class="container">
    <div class="row images">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 overlay">
        <img src="assets/images/1.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 overlay">
        <img src="assets/images/2.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 overlay">
        <img src="assets/images/3.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 overlay">
        <img src="assets/images/6.jpeg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 overlay">
        <img src="assets/images/7.jpeg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 overlay">
        <img src="assets/images/2.webp" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 overlay">
        <img src="assets/images/Landing.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3 overlay">
        <img src="assets/images/landing1.jpg" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>

    </div>
  </div>
</div>