<div class="services py-5" id="Services">
  <h2 class="main-heading mt-5 mb-5">Our Services</h2>
  <div class="container pt-5">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <i class="bi bi-truck"></i>
        <h3 class="mb-4">Deliver EveryWhere</h3>
        <p class="text-dark-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo doloremque necessitatibus,
          excepturi a dolores et hic neque natus quis ex, at molestias dicta enim sequi magni! Pariatur, nihil tempore.
          Ut!
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <i class="bi bi-credit-card"></i>
        <h3 class="mb-4">Easy Pay</h3>
        <p class="text-dark-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo doloremque necessitatibus,
          excepturi a dolores et hic neque natus quis ex, at molestias dicta enim sequi magni! Pariatur, nihil tempore.
          Ut!
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <i class="bi bi-tools"></i>
        <h3 class="mb-4">Repair</h3>
        <p class="text-dark-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo doloremque necessitatibus,
          excepturi a dolores et hic neque natus quis ex, at molestias dicta enim sequi magni! Pariatur, nihil tempore.
          Ut!
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <i class="bi bi-shield-check"></i>
        <h3 class="mb-4">warranty</h3>
        <p class="text-dark-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo doloremque necessitatibus,
          excepturi a dolores et hic neque natus quis ex, at molestias dicta enim sequi magni! Pariatur, nihil tempore.
          Ut!
        </p>
      </div>
    </div>
  </div>
</div>