<header class="fixed-top bg-dark">
  <nav id="navbar-main" class="navbar navbar-expand-md bg-body-dark container">
    <a class="navbar-brand text-center text-gold" href="#">
      <img src="assets/images/logo.jpg" alt="logo" width="60">
      M.<span class="text-gold-main">Saad</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars "></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="nav nav-pills text-uppercase">
        <li class="nav-item">
          <a class="nav-link" href="#Carousel">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Portfolio">Portfolio</a>
        </li>
      </ul>
    </div>
  </nav>
</header>