<!-- <div class="container productlist">
  <div *ngFor="let product of products" class="card special-card" style="width: 18rem;">
    <img src="assets/images/{{product.image}}" class="card-img-top" alt="...">
  <div class="data">
    <a href="#">
      <i class="bi bi-key"></i>
    </a>
    <a href="#">
      <i class="bi bi-key"></i>
    </a>
    <a href="#">
      <i class="bi bi-key"></i>
    </a>
    <a href="#">
      <i class="fab fa-youtube red"></i>
    </a>
  </div>
    <div class="card-body">
      <h5 class="card-title text-center">{{product.name}}</h5>
      <p class="card-text text-center"><span class="text-success">Price: </span> {{product.price}}$</p>
      <p class="card-text text-center" *ngIf="product.quantity > 0">
        <span  [ngClass]="product.quantity < 4 ? 'text-danger' : product.quantity > 10 ? 'text-success' : 'text-warning'">
          Available in Stock
        </span>
        {{ product.quantity }} Pieces
      </p>
      <p *ngIf="product.quantity == 0" class="text-danger text-center"> Out Of Stock</p>
        <button class="btn d-block w-100" 
        [ngClass]="product.quantity < 4 ?
        ' btn-danger' : product.quantity > 10
        ? 'btn-success' : 'btn-warning'"
        [attr.disabled]="product.quantity === 0 ? 'disabled' : null">Buy Now</button>
    </div>
  </div>
</div> -->

<div class="container productlist my-5 py-5">
  <div class="special-card" *ngFor="let product of products">
    <div class="content">
      <img src="assets/images/{{product.image}}" class="card-img-top" alt="...">
      <div class="data">
          <i [routerLink]="['/product', product.id]" class="fs-5 text-warning mx-1 bi bi-eye-fill"></i>
          <i [routerLink]="['/product', product.id, 'edit']" class="fs-5 text-info mx-1 bi bi-pencil-square"></i>
          <i class="bi bi-trash fs-5 text-danger" (click)="deleteProduct(product.id)"></i>
      </div>
    </div>
      <div class="info">
        <h5 class="card-title text-center p-2">{{product.name}}</h5>
        <p class="card-text text-center p-2"><span class="text-success">Price: </span> {{product.price}}$</p>
        <p class="card-text text-center" *ngIf="product.quantity > 0">
          <span [ngClass]="product.quantity < 4 ? 'text-danger' : product.quantity > 10 ? 'text-success' : 'text-warning'">
            Available in Stock
          </span>
          {{ product.quantity }} Pieces
        </p>
        <p *ngIf="product.quantity == 0" class="text-danger text-center"> Out Of Stock</p>
        <button class="btn d-block w-100" [ngClass]="product.quantity < 4 ?
              ' btn-danger' : product.quantity > 10
              ? 'btn-success' : 'btn-warning'" [attr.disabled]="product.quantity === 0 ? 'disabled' : null">Buy Now</button>
      </div>
  </div>
</div>