<div class="services py-5" id="Services">
  <h2 class="main-heading mt-5 mb-5">Our Services</h2>
  <div class="container pt-5">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <i class="fas fa-image fa-5x text-gold mb-4"></i>
        <h3 class="mb-4">Graphic Design</h3>
        <p class="text-dark-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo doloremque necessitatibus,
          excepturi a dolores et hic neque natus quis ex, at molestias dicta enim sequi magni! Pariatur, nihil tempore.
          Ut!
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <i class="fas fa-laptop-code fa-5x text-gold mb-4"></i>
        <h3 class="mb-4">Coding</h3>
        <p class="text-dark-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo doloremque necessitatibus,
          excepturi a dolores et hic neque natus quis ex, at molestias dicta enim sequi magni! Pariatur, nihil tempore.
          Ut!
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <i class="fas fa-camera fa-5x text-gold mb-4"></i>
        <h3 class="mb-4">PhotoGraphy</h3>
        <p class="text-dark-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo doloremque necessitatibus,
          excepturi a dolores et hic neque natus quis ex, at molestias dicta enim sequi magni! Pariatur, nihil tempore.
          Ut!
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <i class="fas fa-image fa-5x text-gold mb-4"></i>
        <h3 class="mb-4">Graphic Design</h3>
        <p class="text-dark-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo doloremque necessitatibus,
          excepturi a dolores et hic neque natus quis ex, at molestias dicta enim sequi magni! Pariatur, nihil tempore.
          Ut!
        </p>
      </div>
    </div>
  </div>
</div>