<div class="contain">
  <form class="mx-auto p-5 my-5 bg-custom rounded">
    <fieldset>
      <legend class="text-primary">Login:</legend>
      <div class="my-2">
        <label for="email" class="form-label">Email:</label>
        <div class="input-group">
          <i class="bi bi-envelope-at input-group-text"></i>
          <input type="email" id="email" name="email" class="form-control">
        </div>
      </div>
      <div class="my-2">
        <label for="password" class="form-label">Password:</label>
        <div class="input-group">
          <i class="bi bi-key input-group-text"></i>
          <input type="password" id="password" name="password" class="form-control">
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-outline-success rounded-bill py-2 px-4 my-3">
    </fieldset>
  </form>
</div>